<div class="loading" *ngIf="loading">
  <img src="../../assets/imagen/cargaAzul.gif"/>
</div>
<div class="row space-rows" >
  <div *ngFor="let alum of alumnos" class="col-md-6" >
    <div class="card cards-shadown" *ngIf="!loading">
      <!-- prettier-ignore -->
      <div class="d-flex justify-content-between p-3 text-center bg-primary rounded text-light mb-0"
        style="font-size: larger;">
        <div>{{ alum.nombre }}</div>

      </div>

      <tr class="mx-2">
        <th style="font-size: 18px" style="width: 200px">apellido</th>
        <td style="font-size: 16px">{{ alum.apellidos }}</td>
      </tr>
      <hr class="solid">
      <tr class="mx-2">
        <th style="font-size: 18px" style="width: 200px"> email</th>
        <td style="font-size: 16px">{{ alum.email }}</td>
      </tr>
      <hr class="solid">
      <tr class="mx-2">
        <th style="font-size: 18px" style="width: 200px">notaMediaGrado</th>
        <td style="font-size: 16px">{{ alum.notaMediaGrado }}</td>
      </tr>
      <hr class="solid">
      <tr class="mx-2">
        <th style="font-size: 18px" style="width: 200px">CicloCursando</th>
        <td style="font-size: 16px">{{ alum.ciclo }}</td>
      </tr>
      <hr class="solid">
      <tr class="mx-2">
        <th style="font-size: 18px" style="width: 200px">OfertasInscritos</th>
        <td style="font-size: 16px">{{ alum.ofertaInscrito}}</td>
      </tr>

      <hr class="solid">


      <div class="from-group">
        <button class="btn btn-danger" id="botonDelete" (click)="borrar(alum)">
          <i class="fa fas fa-trash-alt"></i>
        </button>
        <button class="btn btn-success" id="botonAceptar" (click)="contactar(alum)">
          <i class="fa fas fa-envelope"></i>
        </button>
        <button class="btn btn-secondary" id="botonMensaje" (click)="mensajes(alum)" *ngIf="premium">
          <i class="fa fas fa-bell"></i>
        </button>

      </div>
    </div>

    <p></p>
  </div>
</div>
